<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/petfax/static/style.css">
    <title>Pets</title>
</head>
<body>
    
    <h1> Look who wants to join your family!</h1>
    {% for pet in pet %}
    <h2>{{ pet.pet_name }}</h2>
    <img src="{{ pet.pet_photo }}" alt="Photo of pet"/>
    <div class="pet-fact">{{ pet.pet_fact }}</div>

{% endfor %}
        
<a href="/pets"> Back</a>

</body>
</html>